/* :root can be useful for declaring global CSS variables. 
Accessed using the var() function (e.g., color: var(--main-color);)
Custom properties do inherit.
*/
:root {
    --color-light: white;  
    --color-ltgray:#efeff4;
    --color-mdgray: #d3d9dd;
    --color-dkgray: #666;
    --color-dark: #1a343d;  
    --color-green: #24d8ab;
    --color-green-lt: rgba(36, 216, 171, .4);
    --color-2: #2451d8;
    --color-3: #24aad8;
    --color-3-mono: #46a1bf;
    --color-3-comp: #d85124;
    --color-active: var();
    --color-icon-hover: #999;
    --color-icon-active: white;

    --font-size: .8em;
    --pad-standard: 8px;
    --pad-half: 4px;
    --icon-dimension: 48px;
    --controls-width: 300px;
    --border-rad: 4px;
}
body {
    font-family: Courier, monospace;
    font-size: var(--font-size);
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overscroll-behavior: none;
}
.controls_wrap:hover+.main_wrap {
    overflow: hidden !important;
    background-color: aliceblue
}
.app_wrap {
    position: relative;
}