:root {}
.controls_wrap {
    display: flex;
    flex-direction: column;
    background-color: var(--color-light);
    position: fixed;
    right: 0px;
    /* overflow-x: hidden; */
    overflow-y: scroll;
    top: 0;
    bottom: 0;
    max-width: var(--controls-width);
    min-width: var(--controls-width);
    margin: 0;
    padding: 0;
    border-left: 1px solid var(--color-dark);
    box-shadow: -4px 0 4px rgba(0, 0, 0, .065)
}
/* NAV */
nav {
    display: flex;
    flex-wrap: nowrap;
    /* justify-content: space-between; */
    /* width: var(--controls-width); */
    background-color: var(--color-3);
    z-index: -1001;
    padding-left: var(--pad-standard);
    padding-right: var(--pad-standard);
    box-shadow: 0 -4px 4px rgba(0, 0, 0, .065);
}
.nav_icon {
    display: flex;
    align-self: baseline;
    padding: var(--pad-half);
    cursor: pointer;
}
.nav_icon:hover .svg_icon {
    stroke: var(--color-icon-hover)
}
.svg_icon {
    z-index: -1000;
    /*used to avoid clicking this*/
    stroke: var(--color-dark);
    stroke-width: 1px;
    width: var(--icon-dimension);
    height: var(--icon-dimension);
    transition: stroke .15s;
}
.active_icon svg {
    stroke: var(--color-icon-active) !important;
}
/* SECTION TITLE */
/* .title {
    line-height: 40%;
} */
.section-title {
    line-height: 40%;
}
/* SECTION CONTROLS */
.control-section {
    display: none;
}
.control-section.active_section {
    display: block;
}
/* SECTION CONTROL */
.control-group {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-mdgray);
    border-radius: var(--border-rad);
    margin-left: var(--pad-standard);
    margin-right: var(--pad-standard);
    margin-bottom: calc(var(--pad-standard) * 3);
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .165);
}
.control-group-title {
    background: var(--color-ltgray);
    color: var(--color-dark);
    padding: var(--pad-standard);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .165);
    font-weight: bold;
}
.control-row {
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;
    padding: var(--pad-standard);
    /* justify-content: space-between; */
}
.button-row{
  justify-content: space-between;
}
.control {
    /* background-color: var(--color-3); */
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    /* margin: .3rem; */
    /* min-height: 3rem; */
}
/* OTHER */
.flex_column {
    display: flex;
    flex-direction: column;
    /* height: 100%; */
    flex: 1;
    /* flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto; */
}
.flex_row {
    display: flex;
    flex-direction: row;
    /* flex-grow: 1; */
    /* flex-shrink: 0; */
    flex-basis: auto;
    align-items: center;
}
/* Buttons */
button.control-button {
    background-color: var(--color-ltgray);
    max-width: 80px;
    width: 80px;
    padding: var(--pad-standard);
    border-radius: var(--border-rad);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .165);
    font-family: Courier, monospace;
    font-size: var(--font-size);
    line-height: .9;
    transition: background-color .15s;
}
button.control-button:hover {
    background-color: var(--color-mdgray);
    cursor: pointer;
}
button.control-button:active {
    background-color: var(--color-3);
}
button:focus {
    outline: 0;
}

.controls_text {
    /* height: 18px; */
    /* width: 4rem; */

    /* border: none; */
    /* border-radius: var(--border-rad); */
    text-align: center;
    /* color: #fff; */
}

.c_label {
    position: relative;
    /* height: 14px; */
    width: 2rem;
    /* background: var(--color_prim); */
    /* border-radius: 30px; */

}
.ad-Checkbox-input {
    /* display: none; */

    text-align: center;
}
.control-label {
    /* text-align: center; */
    display: block;
    margin-bottom: .5rem;
    text-transform: uppercase;
    /* font-size: .6rem; */
    font-weight: bold;
    /* flex:1; */

}




.hide_nav_component {
    display: none;
}


.tag-row {
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;
    padding: var(--pad-standard);
    width: 100%;
    flex-wrap: wrap;
}
.svg_tag {
    /* background-color: var(--color-green0); */
    width: var(--font-size);
    height: var(--font-size);
}
.svg_tag:hover {
    stroke: var(--color-control-ltgray);
    cursor: pointer;
    /* width: var(--font-size); */
    /* height: var(--font-size); */
}
.textInput{
  outline: 0;
  margin-right: var(--pad-standard);
  margin-bottom: var(--pad-standard);
  padding: var(--pad-standard);
  padding-top: var(--pad-half);
  padding-bottom: var(--pad-half);
  background-color: var(--color-green);
  color: var(--color-dark);
  border-radius: calc(var(--border-rad) *3);
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
  transition: background-color .15s;
  /* min-width: 70px; */
  line-height: 24px;
}
.textInput:hover,
.textInput:hover svg {
    color: var(--color-light);
    stroke: var(--color-light);
}
.textInput:focus-within {
    background-color: var(--color-green-lt);
    color: var(--color-dark);
    stroke: var(--color-dark);
}
/*tightly coupled :(*/
#lineStartingBasis{
  background-color: var(--color-ltgray);
}
#lineId {
    
}
#lineId:hover,
#lineId:hover svg {

}
#lineId:focus-within {

}

#newTagText {
    outline: 0;
    margin-right: var(--pad-standard);
    margin-bottom: var(--pad-standard);
    padding: var(--pad-standard);
    padding-top: var(--pad-half);
    padding-bottom: var(--pad-half);
    background-color: var(--color-ltgray);
    color: var(--color-dark);
    border-radius: calc(var(--border-rad) *3);
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    transition: background-color .15s;
    min-width: 70px;
    line-height: 24px;
}
#newTagText:hover {
    background-color: var(--color-mdgray);
}
/* placeholder text */
#newTagText:empty::before {
    content: attr(data-value) '';
    /* font-size: calc(var(--font-size) * .8); */
    line-height: 24px;
}
/* hide placeholder text when 'focused'*/
#newTagText:focus-within::before {
    content: '';
    line-height: 24px;
}
#newTagText:focus-within {
    background-color: var(--color-green-lt);
}

.line-tag {
    display: flex;
    align-items: center;

    margin-right: var(--pad-standard);
    margin-bottom: var(--pad-standard);
    padding: var(--pad-standard);
    padding-top: var(--pad-half);
    padding-bottom: var(--pad-half);
    background-color: var(--color-ltgray);
    color: var(--color-dark);
    border-radius: calc(var(--border-rad) *3);
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    transition: background-color .15s;
}
.line-tag:hover {
    background-color: var(--color-mdgray);
}
/* Line checked */
.line-tag[data-value=true] {
    background-color: var(--color-green);
    /* transition: color .75s;
    transition: stroke .75s; */
}
.line-tag[data-value=true]:hover,
.line-tag[data-value=true]:hover svg {
    color: var(--color-light);
    stroke: var(--color-light);
}
/* SAVE -> Tags */
#tagConfirmDelete {
    display: none;
}
#tagConfirmDelete.active {
    display: block;
}
/* LINE -> Tags */
#lineTags .tag-row .line_tag:hover {
    background-color: var(--color-3);
    /* stroke: var(--color-control-hover);  */
}
#lineTags .tag-row div {
    cursor: pointer;
}

code {
    margin: 0;
    white-space: pre;
    overflow-wrap: break-word;
}
.form-radio-points {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    position: relative;
    background-color: var(--color-ltgray);
    color: var(--color-dark);
    /* top: 10px; */
    height: calc(var(--pad-standard) *3);
    width: calc(var(--pad-standard) *3);
    border: 0;
    border-radius: calc(var(--pad-standard) *3);
    cursor: pointer;
    margin-right: var(--pad-standard);
    outline: none;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, .1); */
}
.form-radio-points:checked::before {
    position: absolute;
    /* font: 13px/1 'Open Sans', sans-serif; */
    left: 10px;
    top: 4px;
    content: '\02143';
    /*unicode check mark*/
    transform: rotate(40deg);
}
.form-radio-points:hover {
    background-color: var(--color-mdgray);
}
.form-radio-points:checked {
    background-color: var(--color-green)
}
.choices-label {
    /* font: 15px/1.7 'Open Sans', sans-serif; */
    color: var(--color-dark);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* cursor: pointer; */
    margin-right: var(--pad-standard);
    margin-left: calc(var(--pad-half) * -1);
}
.form-checkbox
{
     border-radius: 3px;
}
.form-radio
{
     border-radius: 50px;
}

/**
 * Tooltip Styles
 */

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
}

/* CanvasSettings */
#canvasErrorMess {
  display: none;
}
#canvasErrorMess.active {
  display: block;
}