.main_wrap {
  /* margin:0;
  padding:0; */
  overflow: scroll;
}
.ad-SVG{
  background-image: url("../icons/slmap.jpg");
  background-size: cover;
}

.filler{
  min-width: 300px;
}
.grid {
    /* fill: none; */
    stroke: var(--color-mdgray);
    stroke-width: 1px;
}
.grid_line{
  /* stroke: var(--color-green1);
  stroke-width: 1px; */
}

.ad-Grid.is-hidden {
    opacity: 0;
}
.ad-Path {
    fill: none;
    stroke: var(--color-green);
    stroke-width: 4px;
    /* stroke-linecap: round; */
}
.ad-Point {
    cursor: grab;
    fill: var(--color-3-comp);
    
    /* transition: fill .2s; */
    z-index: 10;
}
.ad-Point:hover,
.ad-PointGroup.is-active .ad-Point {
    fill: var(--color-3);
}
.ad-PointGroup--first .ad-Point {
    /* stroke: var(--color-3-comp); */
    stroke: var(--color-dark);
    stroke-width: 2px;
}
.ad-Anchor {
    opacity: .5;
}
.ad-PointGroup.is-active .ad-Anchor {
    opacity: 1;
}
.ad-Anchor-point {
  cursor: pointer;
  fill: #fff;
  stroke: #888;
  stroke-width: 4px;
}
.ad-Anchor-line {
  stroke:var(--color-mdgray);
  stroke-width: 1px;
  stroke-dasharray: 5 5;
  cursor: pointer;
}
