:root {}
.controls_wrap {
    display: flex;
    flex-direction: column;
    background-color: var(--color-light);
    position: fixed;
    right: 0px;
    /* overflow-x: hidden; */
    overflow-y: scroll;
    top: 0;
    bottom: 0;
    max-width: var(--controls-width);
    margin: 0;
    padding: 0;
    border-left: 1px solid var(--color-dark);
    box-shadow: -4px 0 4px rgba(0, 0, 0, .065)
}
/* NAV */
nav {
    display: flex;
    flex-wrap: nowrap;
    /* justify-content: space-between; */
    /* width: var(--controls-width); */
    background-color: var(--color-3);
    z-index: -1001;
    padding-left: var(--pad-standard);
    padding-right: var(--pad-standard);
    box-shadow: 0 -4px 4px rgba(0, 0, 0, .065);
}
.nav_icon {
    display: flex;
    align-self: baseline;
    padding: var(--pad-half);
    cursor: pointer;
}
.nav_icon:hover .svg_icon {
    stroke: var(--color-icon-hover)
}
.svg_icon {
    z-index: -1000;
    /*used to avoid clicking this*/
    stroke: var(--color-dark);
    stroke-width: 1px;
    width: var(--icon-dimension);
    height: var(--icon-dimension);
}
.active_icon {
    stroke: var(--color-icon-active) !important;
}
/* SECTION TITLE */
/* .title {
    line-height: 40%;
} */
.section-title {
    line-height: 40%;
}
/* SECTION CONTROLS */
.control-section {
    display: none;
}
.control-section.active_section {
    display: block;
}
/* SECTION CONTROL */
.control-group {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-ltgray);
    border-radius: var(--border-rad);
    margin-left: var(--pad-half);
    margin-right: var(--pad-half);
    margin-bottom: calc(var(--pad-standard) * 3);
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .165);
}
.control-group-title {
    background: var(--color-ltgray);
    color: var(--color-dark);
    padding: var(--pad-standard);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .165);
}
.control-row {
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;
    padding: var(--pad-standard);
    justify-content: space-between;
}
.control {
  /* background-color: var(--color-3); */
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  /* margin: .3rem; */
  /* min-height: 3rem; */
}
/* OTHER */
.flex_column {
    display: flex;
    flex-direction: column;
    /* height: 100%; */
    flex: 1;
    /* flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto; */
}
.flex_row {
    display: flex;
    flex-direction: row;
    /* flex-grow: 1; */
    /* flex-shrink: 0; */
    flex-basis: auto;
}
/* Buttons */
button.control-button{
  background-color: var(--color-ltgray);
  max-width: 80px;
  width:80px;
  padding: var(--pad-standard);
  border-radius: var(--border-rad);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .165);
  font-family: Courier, monospace;
  font-size: var(--font-size);
}
button.control-button:hover{
  background-color: var(--color-mdgray);
  cursor: pointer;
}
button:focus {outline:0;}

.controls_text {
    /* height: 18px; */
    /* width: 4rem; */

    /* border: none; */
    /* border-radius: var(--border-rad); */
    text-align: center;
    /* color: #fff; */
}
.text_input {
    background-color: var(--color-11);
    min-width: 100px;
}
.c_label {
    position: relative;
    /* height: 14px; */
    width: 2rem;
    /* background: var(--color_prim); */
    /* border-radius: 30px; */

}
.ad-Checkbox-input {
    /* display: none; */

    text-align: center;
}
.control-label {
    text-align: center;
    display: block;
    margin-bottom: .5rem;
    text-transform: uppercase;
    /* font-size: .6rem; */
    font-weight: bold;
    /* flex:1; */

}




.hide_nav_component {
    display: none;
}


.tag-row {
  display: flex;
  flex-direction: row;
  flex: 1 0 auto;
  padding: var(--pad-standard);
  width:100%;
  flex-wrap: wrap;
}
.svg_tag {
    /* background-color: var(--color-10); */
    width: var(--font-size);
    height: var(--font-size);
}
.svg_tag:hover {
    stroke: var(--color-control-hover);
    cursor: pointer;
    /* width: var(--font-size); */
    /* height: var(--font-size); */
}
.line-tag {
    display: flex;
    align-items: center;
    
    margin-right: var(--pad-standard);
    margin-bottom: var(--pad-standard);
    padding: var(--pad-standard);
    padding-top:var(--pad-half);
    padding-bottom:var(--pad-half);
    background-color: var(--color-3);
    color: var(--color-dark);
    border-radius: calc(var(--border-rad) *3);
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}
.line-tag.active{
  color: var(--color-light);
} 
/* SAVE -> Tags */
#tagConfirmDelete {
    display: none;
}
#tagConfirmDelete.active {
    display: block;
}
/* LINE -> Tags */
#lineTags .tag_row .line_tag:hover {
    background-color: var(--color-3);
    /* stroke: var(--color-control-hover);  */
}
#lineTags .tag_row div {
    cursor: pointer;
}

code {
    margin: 0;
    white-space: pre;
    overflow-wrap: break-word;
}