:root {
    --color-control-hover: #999;
    --color-control-active: white;
    --pad-standard: .5rem;
    --icon-dim: 60px;
}
.controls_wrap {
    background-color: var(--color-2);
    z-index: 40;
    position: fixed;
    right: 0px;
    overflow-y: scroll;
    top: 0;
    bottom: 0;
    width: 300px;
    /* padding: 1rem; */
}
.controls_div {
    flex-grow: 0;
    /* background: var(--color_prim); */
}
.controls_text {
    /* height: 18px; */
    /* width: 4rem; */

    /* border: none; */
    /* border-radius: 4px; */
    text-align: center;
    /* color: #fff; */
}
.text_input{
  background-color: var(--color-11);
  min-width: 100px;
}
.c_label {
    position: relative;
    /* height: 14px; */
    width: 2rem;
    /* background: var(--color_prim); */
    /* border-radius: 30px; */

}
.ad-Checkbox-input {
    /* display: none; */

    text-align: center;
}
.controls_label {
    text-align: center;
    display: block;
    margin-bottom: .5rem;
    text-transform: uppercase;
    /* font-size: .6rem; */
    font-weight: bold;
    /* flex:1; */

}
.control {
    background-color: var(--color-3);
    flex: 1;
    flex-direction: column;
    margin: .3rem;
    min-height: 3rem;
}
.flex_column {
    display: flex;
    flex-direction: column;
    /* height: 100%; */
    flex: 1;
    /* flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto; */
}
.flex_row {
    display: flex;
    flex-direction: row;
    /* flex-grow: 1; */
    /* flex-shrink: 0; */
    flex-basis: auto;
}
nav {
    display: flex;
    flex-wrap: nowrap;
    flex: 0 0 auto;
    justify-content: space-between;
    /* background-color: var(--color-11); */
}
.nav_icon {
    display: flex;
    align-self: baseline;
    /* background-color: var(--color-1); */
    padding: var(--pad-standard);
    cursor: pointer;
}
.nav_icon:hover .svg_icon {
    stroke: var(--color-control-hover)
        /* background-color: var(--color-1); */
        /* padding: var(--pad-standard); */
}
.active_icon {
    stroke: var(--color-control-active) !important;
}

.hide_nav_component {
    display: none;
}
.controls-section {
    display: none;
    /* font-size: 50px !important; */
}
.controls-section.active_section {
    display: block
}
.svg_icon {
    z-index: -100;
    /*used to avoid clicking this*/
    stroke: var(--color-dark);
    stroke-width: 1px;
    width: var(--icon-dim);
    height: var(--icon-dim);
}
.tag_row {
    background-color: var(--color-4);
    display: flex;
    
}
.svg_tag {
    /* background-color: var(--color-10); */
    width: var(--font-size);
    height: var(--font-size);
}
.svg_tag:hover {
    stroke: var(--color-control-hover);
    cursor: pointer;
        /* width: var(--font-size); */
        /* height: var(--font-size); */
}
.line_tag {
    display: inline;
    background-color: var(--color-2);
    margin: .1rem;
    /* flex: 1 0 auto; */
    display: flex;
    align-items:center;
    /* flex: 0 1 auto; */
    flex-shrink: 1;
    cursor: default;
}