/* :root can be useful for declaring global CSS variables. 
Accessed using the var() function (e.g., color: var(--main-color);)
Custom properties do inherit.
*/
:root {
    --color-dark: #1a343d;
    --color-ltgray: #d3d9dd;
    --color-dkgray: #666;
    --color-light: white;
    --color-1: #6e40aa;
    --color-2: #4c6edb;
    --color-3: #24aad8;
    --color-4: #1ac7c2;
    --color-5: #1ddea3;
    --color-6: #333;
    --color-7: #444;
    --color-8: #555;
    --color-9: #666;
    --color-10: #777;
    --color-11: #999;
    --color-active: var(--color-5);
    --font-size: 1em;
    --color-icon-hover: #999;
    --color-icon-active: white;
    --pad-standard: 8px;
    --pad-half: 4px;
    --icon-dimension: 48px;
    --controls-width: 300px;
    --border-rad: 4px;
}
body {
    font-family: Courier, monospace;
    font-size: var(--font-size);
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overscroll-behavior: none;
}
.controls_wrap:hover+.main_wrap {
    overflow: hidden !important;
    background-color: aliceblue
}
.app_wrap {
    position: relative;
}