/* :root can be useful for declaring global CSS variables. 
Accessed using the var() function (e.g., color: var(--main-color);)
Custom properties do inherit.
*/
:root {
    --color_prim: #111;
    --color_sec: #00E676;
    --ad-Color-del: #E53935;
    --color_main_bg: beige;
}
body {
    margin: 0 auto;
    font-family: Courier, monospace;
    font-size: 16px;
}
.app_wrap {
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: flex;
}
.main_wrap {
    overflow: scroll;
    position: absolute;
    min-width: 1600px;
    min-height: 900px;
}
.controls_wrap {
    /* align-items: stretch; */
    /* display: block; */
    /* max-width: 496px; */
    background-color: pink;
    z-index: 40;
    transition: all 0.2s ease-in-out;
    position: fixed;
    right: 0px;
    /* overflow-y: scroll; */
    top: 0;
    bottom: 0;
    padding: 1rem;
}
.controls_div {
    /* background: var(--color_prim); */
}
.controls_text {
    /* height: 18px; */
    /* width: 4rem; */

    /* border: none; */
    /* border-radius: 4px; */
    text-align: center;
    /* color: #fff; */
}
.c_label {
    position: relative;
    /* height: 14px; */
    width: 2rem;
    /* background: var(--color_prim); */
    /* border-radius: 30px; */

}
.ad-Checkbox-input {
    /* display: none; */

    text-align: center;
}
.controls_label {
    text-align: center;
    display: block;
    margin-bottom: .5rem;
    text-transform: uppercase;
    /* font-size: .6rem; */
    font-weight: bold;
    /* flex:1; */

}
.control {
    background-color: var(--color_sec);
    flex: 1;
    flex-direction: column;
    margin: .3rem;
    min-height: 3rem;
}
.ad-Grid {
    /* fill: none; */
    stroke: black;
    stroke-width: 1px;
}
.ad-Grid.is-hidden {
    opacity: 0;
}
.ad-Path {
    fill: none;
    stroke: #555;
    stroke-width: 4px;
    /* stroke-linecap: round; */
}
.ad-Point {
    cursor: pointer;
    fill: #fff;
    stroke: #555;
    stroke-width: 5px;
    transition: fill .2s;
}
.ad-Point:hover,
.ad-PointGroup.is-active .ad-Point {
    fill: var(--color_sec);
}
.ad-PointGroup--first .ad-Point {
    stroke: var(--color_sec);
}
.ad-Anchor {
    opacity: .5;
}
.ad-PointGroup.is-active .ad-Anchor {
    opacity: 1;
}
.ad-Anchor-point {
  cursor: pointer;
  fill: #fff;
  stroke: #888;
  stroke-width: 4px;
}
.ad-Anchor-line {
  stroke: #888;
  stroke-width: 1px;
  stroke-dasharray: 5 5;
}
.grid_line{
  stroke: #888;
  stroke-width: 1px;
}
.flex_column {
    display: flex;
    flex-direction: column;
    /* height: 100%; */
    flex: 1;
    /* flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto; */
}
.flex_row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
}